@font-face {
  font-family: "Pixelart";
  src: url(MinecraftSeven.woff)
   /* Esta es la fuente */
}


* {
  scroll-behavior: smooth;
  box-sizing: border-box;
  margin:0;
  padding: 0;
  image-rendering: pixelated;
  /* Settings globales, image rendering hace que las imagenes no se pixelen, así las suba en su resolución original */

  scrollbar-width: none;
  -ms-overflow-style: none;
  &::-webkit-scrollbar {
    display: none;
     /* Quita el scrollbar */
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(30px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
  } /* Animación de inicio */

body {
  animation: fadeIn 1s ease-out forwards;
  font-family: Pixelart;
  background:linear-gradient(45deg, rgba(255,249,223,0.4), rgba(255,249,223,0.4)), url(Items/FrutigerPCOriginal.png); /* Hace que el fondo se vea con un "velo" */

  background-position: center;
  background-size:cover;
  background-repeat: no-repeat;
  background-attachment: scroll;

  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  padding: 60px, 20px;
  color: #283646;
}

.Profile {
  padding-top: 120px;
  width: 100%;
  max-width: 600px;
  text-align: center;
  margin-bottom: 32px;
}

.Profilephoto img{
  width: 50%;
  padding-bottom: 20px;
  transition: 50ms ease-in-out;
}

.Profilephoto :hover{
  transform: scale(1.03);
  transition: 80ms ease-in;
}
.Profiletitle h1 {
  font-size: 35pt;
  font-weight: 10;
  padding-bottom: 15px;
}

.Profiletext p {
  font-size: 20pt;
  max-width: 600px;
}

.Links a {
  background-image: url(Items/Button\ Original.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  border-radius: 20px;
  opacity: 92%;
   
  display:block;
  align-content: center;
  text-align: center;
  justify-content: center;

  text-decoration: none;
  padding: 35px 160px;
  margin: 15px;
  font-size: 23px;
  font-weight: lighter;
  color: #283646;

  transition: 50ms ease-in-out;
}

.Links a:hover {
  transform: scale(1.03);
  opacity: 100%;
  transition: 70ms ease;
}

footer {
  max-width: 600px;
  text-align: center;
  justify-content: center;
}

footer h2{
  font-size: 30pt;
  font-weight: lighter;
  padding-top: 30px;
}

footer p{
  font-size: 19px;
  padding-top: 5px;
  padding-bottom: 15px;
}

@media (max-width: 767px) { /* Vista en celular */
    
  html, body {
    max-width: 100vw;
    overflow-x: hidden;
}

    body {
    background:linear-gradient(45deg, rgba(255,249,223,0.5), rgba(255,249,223,0.5)), url('Items/FrutigerCelularOriginal.png');
    
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;
    background-attachment: scroll;
    }

    .Profile, .Links{
      width: 85%;
    }

    .Profiletitle h1 {
  font-size: 22pt;
  font-weight: 10;
  padding-bottom: 15px;
  text-align: center;
  width: 100%;
  text-wrap: pretty;
}

.Profiletext p {
  font-size: 16pt;
  max-width: 600px;
  text-wrap: pretty;
}

.Links a {
  background-image: url(Items/Button\ cel.png);
  padding: 28px;
  max-width: 100vh;
  width: 100%;
  transition: 50ms ease-in-out;
}

.Profilephoto img{
  width: 50%;
}

.Profilephoto :hover, .Links a:hover{
  transform: none;
}

.Links a :active{
  transform: scale(1.03);
  opacity: 100%;
  transition: 70ms ease;

  -webkit-tap-highlight-color: transparent;
}
  } /* Efecto Touch */

  footer h2{
  font-size: 20px
}